# Исключаем временные файлы Python
__pycache__/
*.pyc

# Исключаем папку для загруженных файлов
uploads/

# Исключаем виртуальное окружение
venv/
env/

# Исключаем файлы конфигурации с секретами
*.env
secrets.json

# Исключаем логи
*.log
logs/